.form {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    height: 370px;
    border: 2px solid #353535;
    margin-bottom: 20px;
    color: black;
    background-color: #c0d8d7;
    text-align: left;
}


.field {
    border-radius: 4px;
    outline: 2px solid rgb(73, 73, 73);
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    background-color: #f3f3f3;
    border: none;
}

.error {
    color: red;
}

.button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13b4f3;
    font-size: 18px;
    font-style: italic;
    border-radius: 10px;
    border: transparent;
    border: 3px solid #2292dd;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
    width: 96px;
    height: 42px;
}

.button:hover {
    background-color: #14a8e2;
    border: 3px solid #2292dd;
}

.button:focus {
    outline: none;
}